/* # Custom Fonts */
@font-face {
  font-family: "custom_mono";
  src: url("../media/fonts/mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "custom_serif";
  src: url("../media/fonts/serif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "custom_sans_serif";
  src: url("../media/fonts/sans_serif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* # Fira Code */
@font-face {
  font-family: "Fira Code Retina";
  src: url("../media/fonts/FiraCode-Retina.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code Regular";
  src: url("../media/fonts/FiraCode-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code SemiBold";
  src: url("../media/fonts/FiraCode-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* # Roboto Mono */
@font-face {
  font-family: "Roboto Mono";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
